.navbar-default .navbar-nav > li > a{color:#06c;border-right:1px solid #eee;}
.navbar-default .navbar-nav > li:last-child > a:last-child{color:#06c;border-right:0;}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{color:#06c;background-color:transparent;}

.navbar-default {
	background-image: -webkit-linear-gradient(top,#fff 0,#fff 100%);
	background-image: -o-linear-gradient(top,#fff 0,#fff 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#fff));
	background-image: linear-gradient(to bottom,#fff 0,#fff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
	background-image: -webkit-linear-gradient(top,#eee 0,#eee 100%);
	background-image: -o-linear-gradient(top,#eee 0,#eee 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#eee),to(#eee));
	background-image: linear-gradient(to bottom,#eee 0,#eee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.carousel-indicators li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 1px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #000 \9;
	background-color: rgba(0,0,0,0);
	border: 1px solid #666;
	border-radius: 10px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img{margin:auto;padding:35px 0px 35px 0px;}

@media (max-width:480px){

}
@media (max-width:768px){

}
@media (min-width:770px){

}

body{padding-top:75px;}
.breadcrumb > li + li:before{color:#ccc;content:">> ";padding:0 5px;}
.breadcrumb{margin-bottom:10px;background-color:#fff;padding:5px 0;font-size:12px;}
h1{color:#666;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:24px;font-weight:bold;line-height:30px;margin-bottom:15px;margin-top:0px;text-shadow:1px 1px 3px #999;}
h2{color:#009;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:20px;font-weight:bold;line-height:26px;margin-bottom:5px;margin-top:15px;text-shadow:1px 1px 1px #999;}
h3{color:#666;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:16px;font-weight:bold;line-height:22px;margin-bottom:5px;margin-top:15px;text-shadow:1px 1px 1px #999;}
p{margin-bottom:15px;margin-top:5px;}
.list-group-item{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
#nlthanks, #nlload, #error_blank, #error_invalid, #ctnameblnk, #ctnamemin, #ctemlblnk, #ctemlvld, #ctmsgblnk{display:none;}
a.glink:link,a.glink:visited{color:#009900;text-decoration:none;font-size:12px;}
a.glink:hover{color:#009900;text-decoration:underline;font-size:12px;}
.author-img{float: right; margin-left:10px;}
.effect{
	background-color: #fff;
	border: 0px solid #C9C9C9;
	padding: 0px 0px 0px 0px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.3);
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=5, OffY=5, Color='#CFCFCF');
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}

.social {
	background-image: url('https://www.joydeepdeb.com/images/social-button.png');
	background-repeat: no-repeat;
	float: left;
	margin: 0px 10px 15px 0px;
	filter: alpha(opacity=100);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
}
.social:hover{filter:alpha(opacity=70);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";opacity:.7;}
.social a{border:0px solid #f00;display:block;height:32px;width:32px;}
.facebook{background-position:0px 0px;}
.twitter{background-position:0px -32px;}
.google{background-position:0px -64px;}
.linkedin{background-position:0px -96px;}
.feed{background-position:0px -128px;}
.instagram{background-position:0px -160px;}
.pinterest{background-position:0px -192px;}
.youtube{background-position:0px -224px;}
.dclear{clear:both;}
footer{border-top:1px solid #ddd;width:100%;background-color:#f5f5f5;font-family:Verdana, Arial, Helvetica, sans-serif;color:#666;}
.OLDiv{max-width:350px;min-width:270px;height:325px;background:url('https://www.joydeepdeb.com/images/tshirt.png') top center no-repeat;border:0px solid #f00;color:#fff;text-align:center;font-family:Lucida Console, Arial, Helvetica, sans-serif;font-size:16px;padding-top:75px;padding-left:60px;padding-right:60px;}
.reverse{-moz-transform:scaleX(-1);-o-transform:scaleX(-1);-webkit-transform:scaleX(-1);transform:scaleX(-1);filter:FlipH;-ms-filter:"FlipH";}

.facebook-bg {background-color:#3b5998;color:#fff}
.twitter-bg {background-color:#4099ff;color:#fff}
.google-bg {background-color:#d34836;color:#fff}
.whatsapp-bg {background-color:#34AF23;color:#fff}
.pinterest-bg {background-color:#C92228;color:#fff}
.linkedin-bg {background-color:#0077B5;color:#fff}
.instagram-bg {background-color:#cd486b;color:#fff}

.social-share-big {display:block;position:relative;clear:both}
.social-share-big a {margin-bottom:5px;font-size:14px;background-color:#fff;float:left;margin-right:15px;color:#333;border-radius:6px;text-align:center;box-shadow:1px 1px 15px #ddd;text-decoration:none}
.social-share-big i {font-size:16px;padding:6px;width:60px;text-align:center;border-radius:6px 6px 0px 0px;display:block}
.social-share-big span {display:block;border:1px solid #ddd;border-radius:0px 0px 6px 6px;line-height:23px}
.social-share-big a:hover {background-color:#f9f9f9}

.social-share-small a {background-color:#fff;display:block;float:left;color:#333;margin:5px 10px 10px 0px;border-radius:4px;text-decoration:none;box-shadow:1px 1px 5px #999;font-size:12px;}
.social-share-small i {padding:7px 10px 7px 10px;border-radius:4px 0px 0px 4px; width:32px;text-align:center;}
.social-share-small span {padding: 7px;}
.social-share-small {clear:both}
.social-share-small a:hover {background-color:#f9f9f9}
pre {
	color:#c7254e;
	word-wrap:break-word;
	text-wrap:unrestricted;
	white-space:pre-wrap;
	white-space:-moz-pre-wrap;
	white-space:-pre-wrap;
	white-space:-o-pre-wrap
}
code[class*="language-"],
pre[class*="language-"]{color:black;background:none;text-shadow:0 1px white;font-family:Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none;}
pre[class*="language-"]::-moz-selection, pre[class*="language-"]::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"]::-moz-selection{text-shadow:none;background:#b3d4fc;}
pre[class*="language-"]::selection, pre[class*="language-"]::selection,
code[class*="language-"]::selection, code[class*="language-"]::selection{text-shadow:none;background:#b3d4fc;}
@media print{code[class*="language-"],
pre[class*="language-"]{text-shadow:none;}
}
pre[class*="language-"]{padding:1em;margin:.5em 0;overflow:auto;}
:not(pre) > code[class*="language-"],
pre[class*="language-"]{background:#f5f2f0;}
:not(pre) > code[class*="language-"]{padding:.1em;border-radius:.3em;white-space:normal;}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata{color:slategray;}
.token.punctuation{color:#999;}
.namespace{opacity:.7;}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted{color:#905;}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted{color:#690;}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string{color:#a67f59;background:hsla(0, 0%, 100%, .5);}
.token.atrule,
.token.attr-value,
.token.keyword{color:#07a;}
.token.function{color:#DD4A68;}
.token.regex,
.token.important,
.token.variable{color:#e90;}
.token.important,
.token.bold{font-weight:bold;}
.token.italic{font-style:italic;}
.token.entity{cursor:help;}
