button{color:inherit;font:inherit;margin:0;}
button{overflow:visible;}
button{text-transform:none;}
button{-webkit-appearance:button;cursor:pointer;}
button::-moz-focus-inner{border:0;padding:0;}
@media print{
*,*:before,*:after{background:transparent!important;color:#000!important;box-shadow:none!important;text-shadow:none!important;}
}
button{font-family:inherit;font-size:inherit;line-height:inherit;}
.btn{display:inline-block;margin-bottom:0;font-weight:normal;text-align:center;vertical-align:middle;touch-action:manipulation;cursor:pointer;background-image:none;border:1px solid transparent;white-space:nowrap;padding:6px 12px;font-size:14px;line-height:1.42857;border-radius:4px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.btn:focus,.btn:active:focus{outline:0;}
.btn:hover,.btn:focus{color:#fff;text-decoration:none;}
.btn:active{outline:0;background-image:none;}
.btn-success{color:#fff;background-color:#47a447;border-color:#3f923f;}
.btn-success:focus{color:#fff;background-color:#3f923f;border-color:#388038;}
.btn-success:hover{color:#fff;background-color:#3f923f;border-color:#388038;}
.btn-success:active{color:#fff;background-color:#3f923f;border-color:#388038;}
.btn-success:active:hover,.btn-success:active:focus{color:#fff;background-color:#3f923f;border-color:#388038;}
.btn-success:active{background-image:none;}

/*! CSS Used from: https://repository.yeslearners.com/style-min.css?v=3.1 */
.icon{display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.icon-sort:before{content:"\f0dc";}
.fa-facebook:before{content:"\f09a";font-family:FontAwesome;font-style:normal;font-size:100%;}
.fa-google-plus:before{content:"\f0d5";font-family:FontAwesome;font-style:normal;font-size:100%;}
.fa-linkedin:before{content:"\f0e1";font-family:FontAwesome;font-style:normal;font-size:100%;}
.fa-twitter:before{content:"\f099";font-family:FontAwesome;font-style:normal;font-size:100%;}
.Q p a{font-weight:normal!important;}
.Q p{font-weight:bold!important;}
p a{background:url(https://repository.yeslearners.com/images/link-icon.png) no-repeat;background-position:right;padding-right:22px;padding-bottom:2px;font-weight:normal;color:#313131;}
.QA{border:1px solid #ddd;padding:5px;margin-bottom:5px;}
.QA .B{width:100%;text-align:right;}
.Q a{color:#000!important;background:none!important;}
.Q a:hover{text-decoration:none;}
.Q p a.selected{color:#aaa!important;}
.correct{color:#3eaa1c!important;}
.wrong{color:red!important;}
.Q p span{font-size:14px;font-weight:bold;color:#000;}
.A{border:1px solid #d6d6d6;background-color:#eee;padding:5px;display:none;margin-bottom:10px;}
article{display:block;}
a:active,a:hover{outline:0;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
a{color:#428bca;text-decoration:none;}
a:hover,a:focus{color:#016c22;text-decoration:none;}
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
button{-webkit-appearance:button;cursor:pointer;}
button{color:inherit;font:inherit;margin:0;}
.btn{display:inline-block;padding:3px 12px 3px 7px;margin-bottom:10px;font-weight:normal;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;}
.btn:hover,.btn:focus{color:#333;text-decoration:none;}
a{color:#000;}
h1,h3{color:#121214;font-weight:200;letter-spacing:-1px;margin:0;}
h1{line-height:30px;margin:0 0 30px 0;}
h3{color:#121214;font-size:1.8em;font-weight:400;letter-spacing:normal;line-height:24px;margin-bottom:33px;text-transform:uppercase;}
p{color:#434343;line-height:24px;margin:0 0 20px;}
body a{outline:none!important;}
li{line-height:24px;}
h1{font-size:2.0em;font-weight:normal;padding-bottom:.3em!important;margin-bottom:1em;text-shadow:2px 2px 3px #ccc;text-align:center;}
h3{font-size:1.2em;line-height:1.5em;text-transform:uppercase;font-weight:bold;text-shadow:1px 1px 2px #ccc;}
h3+p{padding-top:0!important;margin-top:0!important;}
h1,h3{margin:.2em .2em .2em 0;padding:0;font-weight:normal;}
p{word-wrap:break-word;}
